/*
 *  old test -- start
 */
/*#oncanvas-nav-clone {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*z-index: 4000;*/
/*}*/
/*[sticky-state="false"] {*/
    /*display: none;*/
/*}*/
/*[sticky-state="true"] {*/
    /*display: initial;*/
/*}*/
/*
 *  new test -- start
 */
#oncanvas-nav {
    z-index: 4000;
}
[sticky-state="true"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: initial;
}
.sidebar-is-open [sticky-state="true"] {
    -webkit-transform: initial;
    transform: initial;
}
/*#headerWrapper > nav {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
/*}*/
/*#headerWrapper > header {*/
    /*order: 2;*/
/*}*/
/*#headerWrapper > nav {*/
    /*order: 1;*/
/*}*/
