[sticky-state="true"] .navbar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1025;
}

.sidebar-is-open [sticky-state="true"] .navbar-header {
    -webkit-transform: initial;
    transform: initial;
}

.sticky-is-enabled .static-to-nav {
    position: fixed;
    z-index: 1030;
}

@media (min-width: 768px) and (max-width: 991px ) {
    .headerWrapper .mobile.container {
        display: block !important;
    }
    .headerWrapper .mobile.container .brand {
        display: none !important;
    }
}
